/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --hue: 300;
  --ifm-color-primary: oklch(0.55 0.11 var(--hue));
  --ifm-color-primary-dark: oklch(0.51 0.10 var(--hue));
  --ifm-color-primary-darker: oklch(0.49 0.10 var(--hue));
  --ifm-color-primary-darkest: oklch(0.43 0.08 var(--hue));
  --ifm-color-primary-light: oklch(0.59 0.12 var(--hue));
  --ifm-color-primary-lighter: oklch(0.61 0.12 var(--hue));
  --ifm-color-primary-lightest: oklch(0.67 0.14 var(--hue));
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --hue: 300;
  --ifm-color-primary: oklch(0.73 0.13 var(--hue));
  --ifm-color-primary-dark: oklch(0.68 0.12 var(--hue));
  --ifm-color-primary-darker: oklch(0.65 0.12 var(--hue));
  --ifm-color-primary-darkest: oklch(0.56 0.10 var(--hue));
  --ifm-color-primary-light: oklch(0.78 0.14 var(--hue));
  --ifm-color-primary-lighter: oklch(0.79 0.14 var(--hue));
  --ifm-color-primary-lightest: oklch(0.81 0.13 var(--hue));
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar-sidebar__item,
.menu {
  padding-bottom: 8rem;
}
